div.image {

	margin-left:46px;
	margin-top:50px;
	border:3px black inset;
	width:500px; height:323px;
	border-radius:10px;
	background-image:url('../Images/Treasure-Trolls.jpg');
	background-repeat:no-repeat;
}

div.content {
	padding:25px;
}

