/* CSS Document */
#padding
{
	padding-right:25px;
	padding-left:25px;
}
#card
{
	padding:15px;
	background:white;
	border:2px solid black;
	border-radius:15px;
	display:block;
	width:550px;
	height:750px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:25px;
}
#border
{
	padding:10px;
	padding-bottom:50px;
	background:#B3DBFF;
	height:685px;
}
#text
{
	height:160px;
	padding:15px;
	padding-top:50px;
	vertical-align:middle;
}
#card img
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:90%;
}
#description
{
	background-color:white;
}
#cost, #lvl
{
	display:inline-block;
	width:48%;
}
#stats
{
	float:right;
}
#lvl
{
	text-align:right;
}