/* CSS Document */
@media only screen
and (max-device-width : 548px)
{
	#id, #cost p, #cost section
	{
		font-size:16px;
		width:80px;
	}
}
#card
{
	padding:20px
}
#text
{
	padding:15px;
	font-size:10pt;
	display:block;	
}
p
{
	font-size:2em;
}
#text
{
	font-size:1.1em;
}
#stats
{	
	top:-25px;
	position:relative;
}