
article {
	border-radius:15px;
	border:thin black solid;	
	margin-left:25px;
	margin-right:25px;
	background:#FFF;
}

p {
	margin-left:15px;
	margin-right:15px;	
}

p.error{
	text-align:center;
	color:red;
	border-radius:15px;
	border:thin black solid;	
	margin-left:25px;
	margin-right:25px;
	background:#FFF;
	max-width:800px;
}

input, textarea {
	border-radius:5px;
}

#name {
	width:200px;
	display:block;	
}

#comment {
	display:block;	
}

#login {
	position:fixed;
	top:0;
	right:10px;
	background:white;	
	min-width:530px;
}

#usercomment {
	max-width:900px;	
}
fieldset {
	border-radius:5px;	
	background:#FFF;
}

html {
	background: #aac1ff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYWFjMWZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(45deg, #aac1ff 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#aac1ff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, #aac1ff 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, #aac1ff 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, #aac1ff 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(45deg, #aac1ff 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aac1ff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */	
	min-width:1000px;
}

form.admin {
	width:50px;
	right:10px;
}