/* CSS Document */
#header
{
	margin-bottom:0;
}
#self
{
	display:block;
	margin:0;
	max-width:60%;
	max-height:500px;
	margin-left:auto;
	margin-right:auto;
}
#wrapper
{
	background:#222;
	max-height:500px;
	padding-bottom:20px;
}