/* CSS Document */
footer
{
	background: #222;
	color:white;
	margin-bottom:0;
	padding:0;
	border-top-left-radius:75px 5px;
	border-top-right-radius:75px 5px;
}
footer p
{
	margin:0;
	padding:10px;
}
footer a, footer a:visited
{
	float:right;
	color:white;
}
#linkedin
{
	position:relative;
	margin-left:40px;
	right:25px;
}
.g-person
{
	display:inline-block;
	margin-left:20px;
	float:right
}