/* CSS Document */
#wrapper
{
	background:#222;
}
.slider-wrapper
{
	max-height:600px;
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
}
#slider
{	
	display:block;
	max-width:1000px;
	max-height:650px;
	margin-left:auto;
	margin-right:auto;
}
#slider img
{
	display:none;
	max-height:570px;
}
h1
{
	text-align:center;
}
#content
{
	background:white;
	border-radius:5px;
	padding-left:20px;
	padding-right:20px;
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
}
#content a, #content a:visited
{
	color:black;
	font-weight:bold;
}
#wrapper #header
{
	position:relative;
	margin:0;
}