/* CSS Document */

body
{
	border:medium black solid;
	background:#D6D6D6;
	top:-4px;
	min-width:500px;
	margin:0
}
footer
{
	background: #424242;
	color:white;
	margin:0;
	padding:0;
	border-top-left-radius:75px 5px;
	border-top-right-radius:75px 5px;
}
footer p
{
	margin:0;
	padding:10px;
}