/* CSS Document */

#section 
{
	display:block;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	background:white;
	border:black solid medium;
	border-radius:10px;
}
.slider-wrapper
{
	max-height:600px;
}
#slider
{	
	display:block;
	max-width:1000px;
	max-height:650px;
	margin-left:auto;
	margin-right:auto;
}
#slider img
{
	display:none;
	max-height:570px;
}
h1
{
	text-align:center;
}
#content
{
	background:white;
	border-radius:5px;
	padding-left:20px;
	padding-right:20px;
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
}