/* CSS Document */

.slider-wrapper
{
	max-height:600px;
}
#slider
{	
	display:block;
	max-width:1000px;
	max-height:650px;
	margin-left:auto;
	margin-right:auto;
}
#slider img
{
	display:none;
	max-height:570px;
}
h1
{
	text-align:center;
}
#content
{
	background:white;
	border-radius:5px;
	padding-left:20px;
	padding-right:20px;
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
}
#header
{
	margin-left:auto;
	margin-right:auto;
	color:white !important;
	text-align:center;
}
a.nivo-prevNav
{
	visibility:hidden;
}
a.nivo-nextNav
{
	visibility:hidden;
}
li span
{
	width: 90%;
}