/* CSS Document */
#navIcon {
	position: fixed;
	background:#616161;
	z-index:99;
	left:-15px;
	
}
#navIcon img
{
	display:block;
	width:75px;
	height:75px;	
	z-index:100;
}
html
{
	font-size:2em!important;
}
nav 
{
	display:none;
}
nav ul
{
	padding:0;
	margin:0;
}
nav li
{
	list-style:none;
	text-align:center;
	display:inline-block;
	font-size:34px;
	width:100%;
	padding:5px;
}
.ui-btn
{
	margin:2px;
}
nav .secondList
{
	display:block;
}
#currentLocation
{
	display:none;
}
.span a
{
	margin:2px;
}
nav a
{
	text-decoration:none;
	color:white;
}

.ui-navbar .second, .ui-navbar .third
{
	display:none;
}
#myLogo
{
	display:block;
	height:100px;
	width:100px;
	margin-left:auto;
	margin-right:auto;
}
#home, #services, #projects
{
	display:inline-block;
	width:100px;
	margin-left:10px;
	margin-right:10px;
}
#home span, #services span, #projects span
{
	height:130px;
}
#mobilenavgrouper
{
	width:410px;
	margin-left:auto;
	margin-right:auto;
}
/* Smartphones (portrait and landscape) ----------- */
@media 
and (min-width : 320px) 
and (max-width : 600px) {
	html
	{
		font-size:.8em;
	}
}