/* CSS Document */
li
{
	list-style:none;
}
nav
{
	display:block;	
	position:relative;
	background: #424242;
	border-bottom-left-radius:75px 5px;
	border-bottom-right-radius:75px 5px;
	top:-18px;
	height:35px;
}
nav ul
{
	padding-top:5px;
}
nav a
{
	text-decoration:none;
	color:white;
	display:block;
	width:100%;
}
a:visited
{
	text-decoration:none;
	color:white;
}
.first
{
	color: white;
	width:150px;
	display:inline-block;
	text-align:center;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
nav span
{
	width:100%;
}
.second, .third
{
	display:none;
	background: #424242;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	list-style:none;
	padding:5px;
	padding-top:0;
	margin:0;
	width:300px;
	text-align:center;
	visibility:hidden;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.secondList, .third li
{
	
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.third{
	position:relative;
	left:300px;
	border-top-right-radius:5px;
}
.first:hover, .secondList:hover, .third li:hover
{
   	background-color:#616161;
	cursor:pointer;
}
.first:hover .second
{	
	display:block;
	position:absolute;
	visibility:visible;
}
.secondList:hover .third
{	
	display:inline-block;
	position:absolute;
	visibility:visible;
}

#myLogo
{
	display:inline-block;
	float:right;
	width:30px;
	height:30px;
	position:relative;
	right:35px;
	top:-3px;
}
#currentLocation
{
	position:relative;
	display:inline-block;
	margin:0;
	padding:0;
	height:20px;
	float:right;
	right:45px;
}
#currentLocation p
{
	color:white;
	margin:0;
	padding:0;
	display:block;
}