/* CSS Document */
html
{
	margin:0;
	font-family: 'Libre Baskerville', serif;
}
body
{
	border:medium black solid;
	background:#D6D6D6;
	top:-4px;
	min-width:1100px;
	margin:0
}
#header
{
	background:#222;
	color:white;
	padding:5px;
	text-align:center;
	margin-bottom:0;
	font-size:26pt;
}
#section 
{
	display:block;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	background:white;
	border:black solid medium;
	border-radius:10px;
}
section
{
	padding:20px;
	padding-top:0;
}
li
{
	list-style:none;
}
nav
{
	display:block;	
	position:relative;
	background: #222;
	border-bottom-left-radius:75px 5px;
	border-bottom-right-radius:75px 5px;
	top:-18px;
	height:35px;
	z-index:10;
}
nav ul
{
	padding-top:5px;
}
nav a
{
	text-decoration:none;
	color:white;
	display:block;
	width:100%;
}
a:visited
{
	text-decoration:none;
	color:white;
}
.first
{
	color: white;
	width:200px;
	display:inline-block;
	text-align:center;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	z-index:11;
}
nav span
{
	width:100%;
}
.second, .third
{
	display:none;
	background: #222;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	list-style:none;
	padding:5px;
	padding-top:0;
	margin:0;
	width:380px;
	text-align:center;
	visibility:hidden;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	z-index:10;
}
.secondList, .third li
{	
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.third
{
	margin-top:-20px;
	left:385px;
	border-top-right-radius:5px;
}
.third li
{
	margin-right:5px;
}
.first:hover, .secondList:hover, .third li:hover
{
   	background-color:#616161;
	cursor:pointer;
}
.first:hover .second
{	
	display:block;
	position:absolute;
	visibility:visible;
}
.secondList:hover .third
{	
	display:inline-block;
	position:absolute;
	visibility:visible;
}

#myLogo
{
	display:inline-block;
	float:right;
	width:30px;
	height:30px;
	position:relative;
	right:35px;
	top:-3px;
}
.breadCrumb
{
	color:white;
	margin:0;
	padding:0;
	padding-left:5px;
	display:inline-block;
	width:auto;
}
#currentLocation
{
	position:absolute;
	margin:0;
	padding:0;
	height:20px;
	right:85px;	
	float:right;
	top:5px;
}
#section p
{
	font-size:18px
}
