/* CSS Document */
li
{
	list-style:none;
}
.first
{
	color: red;
	width:150px;
}
.second, .third
{
	visibility:hidden;
	display:none;
	float:right;
}

.first:hover .second
{
	visibility:visible;
	display:inline-block;
	position:absolute;
	left:150px;
}

.secondList:hover .third
{
	visibility:visible;
	display:inline-block;
	position:absolute;
}